
.div_caixa_form{
    width: 400px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    animation: flutuando 15s infinite ;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    padding: 10px 0 0 0;
}

@keyframes flutuando{
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}

.div_caixa_form h2{
    margin-top: 50px;
    font-size: 1.9rem;
    color: var(--aqua-claro);
}
.div_campo{
    display: flex;
    flex-direction: column;
}

label{
    font-weight: normal;
    letter-spacing: .9px;
}
input{
    border: 2px solid var(--aqua-claro);
    border-radius: 5px;
    width: 250px;
    height: 35px;
    padding-left: 10px;
    color: rgb(102, 102, 102);
}

#img_eye{
    position: absolute;
    width: 25px;
    margin-left: -35px;
    margin-top: 10px;
    opacity: 0.4;
    cursor: pointer;
}

button{
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--coral);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover{
    background-color: #e76536;
}