
/*COLOCANDO VARIAEL NA RAIZ*/
:root {
    --aqua: #32b9cd; 
}


*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    margin: 0;
    padding: 0;
    
}
/*ESTILIZANDO O HEADER*/
.div_header{
    background-color: rgb(0, 0, 0 );
    width: 100%;
    height: 80px;
    border-bottom: 3px solid var(--aqua);
}

.div_container{
    margin: 0 auto;
    width: 80%;
    
    
    display: flex;
    flex-direction: row;
    justify-content: space-around; /*ALINHAMENTO NA HORIZONTAL*/
    align-items: center; /*ALINHAMENTO NA VERTICAL*/
}

.h1_titulo{
    color: var(--aqua);
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    display: flex;
    gap: 40px;
    
    
}
ul {
    
    color: coral;
    list-style: none;
    font-size: 1.1rem;
    font-weight: 600;
    transition: border-bottom 2s;
}

ul > li:hover {
    border-bottom: 1px solid coral;
    cursor: pointer ;
}


.span_barra{
    font-weight: bolder;
    font-size: 1.2em;
}


/* ESTILIZANDO O BANNER */
.div_banner{
    background-image: url("assets/img/bg-jelly-fish-para_outras_pags.png");
    padding: 100px 0 ;
    background-attachment: fixed;
}

.div_banner > .div_container{
    height: 410px;
    align-items: center;
    justify-content: center;
}
.div_banner p{
    color: #fff;
    font-size: 2rem;
    width: 250px;
}
p > b{
    font-weight: bolder;
}


/* ESTILIZANDO O SOCIAL */
.div_social{
    background-color: #fff;
    height: 350px;
    margin-top: 50px;
}

.div_caixas, .div_caixa{
    display: flex;
}

.div_caixas{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.div_caixa{
    flex-direction: column;
    align-items: center;
    width: 280px;
}
.div_social img{
    width: 170px;
    align-self: center;
}
.div_caixa h4{
    color: #b13c3c;
    font-size: 1.3rem;
    margin: 15px  0;
}
.div_social p{
    text-align: center;
    color: rgb(65, 65, 65);
    font-size: 1.1rem;
}