body{
    margin: 0;
    padding: 0;
}
/*  */
.header{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 20px;
}


.titulo{
    color: purple;
    font-weight: 800;
    font-family: monospace;
}
.botao{
    height: 35px;
    width: 200px;
    font-size: 1.2em;
    background-color: rgb(150, 61, 209);
    color: #fff;
    font-family: serif;
    font-size: 1.5em;
    font-weight: 500;
    border-radius: 20px;
    border: 0;
}
.botao:hover{
    background-color: rgb(157, 55, 224);
    cursor: pointer;
}

#div_mensagem{
    color: rgb(157, 55, 224);
    font-size: 3em;
    font-weight: 700;
    font-family: serif;
    text-decoration: underline;
}



.container{
    background-color: rgb(204, 86, 86);
    width: 500px;
    height: 250px;
    padding: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;

}
.box{
    background-color: rgb(88, 86, 204);
    width: 425px;
    height: 150px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub_box{
    background-color: rgb(86, 204, 86);
    width: 300px;
    height: 80px;
    padding: 20px 10px;
}

.container:hover{
    background-color: rgb(248, 104, 104);
    cursor: pointer;
}
.box:hover{
    background-color: rgb(100, 98, 231);
    cursor: pointer;
}
.sub_box:hover{
    background-color: rgb(103, 241, 103);
    cursor: pointer;

}